@import url('https://fonts.googleapis.com/css2?family=Andika:ital@1&display=swap');

.App {
  font-family: 'Andika', sans-serif;
}

.frontpage {
  width: 100vw;
  height: 100vh;
}


.header ul {
  display: flex;
  flex-direction: row;
  color: #0D27E7;
  list-style: none;
  margin-left: -1%;
}

.header li {
  padding-right: 1%;
}

.header .menu-btn {
  display: none;
}

@media (max-width: 768px) {
  /* Show the hamburger menu button */
  .header .menu-btn {
    display: block;
    color: black;
    padding: 10px 15px;
    border: 0;
  }

  .header ul {
    display: none;
  }

  /* Show the navigation menu when the hamburger menu button is clicked */
  button.menu-btn:focus + nav ul {
    display: block;
  }

}
